<button 
    class="btn btn-primary"
    [disabled]="isDisabled">
    Click me! :)
</button>

<p>{{isDisabled}}</p>
<p [innerHtml]="isDisabled"></p>

<input 
    class="form-control"
    (input) = "updateServerName($event)"/>

<input 
    class="form-control"
    placeholder="two-bind"
    [(ngModel)] = "serverName"/>

<input 
    class="form-control"
    placeholder="two-bind"
    [(ngModel)] = "serverName"/>


<p>{{ serverName }}</p>

<button 
    class="btn btn-primary"
    [disabled]="isDisabled"
    (click)="onServerChanged()">
    Add new server
</button>

<p>{{ serverAddedStatus }}</p>

<app-server></app-server>
<app-server></app-server>